* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: system-ui;
  background-color: black;
}
body a {
  cursor: pointer;
  text-decoration: none;
}
body ul {
  list-style-type: none;
}
body button {
  cursor: pointer;
}
body button,
body input,
body textarea {
  border: none;
  outline: none;
}

.container {
  width: 100%;
  padding: 0px 15px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

/*
    mixin prefixer
*/
/*
    mixin grid
*/
header .header-parent {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #dbdbdb;
}
@media (max-width: 991px) {
  header .header-parent {
    align-items: flex-start;
  }
}
header .header-parent .logo h1 {
  font-size: 38px;
}
header .header-parent .menu {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px) {
  header .header-parent .menu {
    width: 50%;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px 15px;
  }
}
@media (max-width: 575.98px) {
  header .header-parent .menu {
    width: 100%;
  }
}
header .header-parent .menu .show-menu {
  font-size: 22px;
  color: #f2f2f2;
  background-color: unset;
  display: none;
}
@media (max-width: 991px) {
  header .header-parent .menu .show-menu {
    display: block;
  }
}
header .header-parent .menu .search {
  background-color: aqua;
  width: 40%;
  display: flex;
  overflow: hidden;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
}
@media (min-width: 992px) {
  header .header-parent .menu .search {
    display: flex !important;
  }
}
@media (max-width: 991px) {
  header .header-parent .menu .search {
    display: none;
    width: 100%;
    margin-top: 15px;
  }
}
header .header-parent .menu .search input {
  width: 85%;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  color: black;
}
header .header-parent .menu .search button {
  width: 15%;
  padding: 10px;
  display: block;
  background-color: #3E976C;
}
header .header-parent .menu .search button i {
  color: #f2f2f2;
  font-size: 18px;
}
header .header-parent .menu ul {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
}
@media (min-width: 992px) {
  header .header-parent .menu ul {
    display: flex !important;
  }
}
@media (max-width: 991px) {
  header .header-parent .menu ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
  }
}
header .header-parent .menu ul li {
  font-size: 18px;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
}
header .header-parent .menu ul li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
}
header .header-parent .menu ul li:hover::after {
  width: 100%;
  height: 1px;
}
header .header-parent .menu ul li:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
}
@media (max-width: 991px) {
  header .header-parent .active {
    height: 100vh;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #555;
  }
}

.home {
  margin-top: 40px;
}
.home .home-parent {
  position: relative;
  background-color: red;
}
.home .home-parent img {
  display: block;
  width: 100%;
  height: auto;
}
.home .home-parent .category {
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 50px;
  left: 50px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  border-left: 2px solid #3E976C;
}
@media (max-width: 575.98px) {
  .home .home-parent .category {
    top: 20px;
  }
}
.home .home-parent .category span {
  width: 100%;
  font-size: 12px;
  color: #3E976C;
}
.home .home-parent .product-name {
  width: -moz-min-content;
  width: min-content;
  position: absolute;
  font-size: 56px;
  font-weight: 600;
  color: #3D3D3D;
  line-height: 62px;
  bottom: 100px;
  left: 50px;
}
@media (max-width: 991px) {
  .home .home-parent .product-name {
    bottom: 100px;
    font-size: 38px;
    line-height: 40px;
  }
}
@media (max-width: 767px) {
  .home .home-parent .product-name {
    bottom: 70px;
  }
}
@media (max-width: 575.98px) {
  .home .home-parent .product-name {
    bottom: 20px;
    font-size: 22px;
    line-height: 26px;
  }
}
.home .home-parent .slider-switch {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  padding: 10px 30px;
  gap: 10px;
  position: absolute;
  bottom: 50px;
  right: 0;
}
@media (max-width: 575.98px) {
  .home .home-parent .slider-switch {
    bottom: 20px;
  }
}
.home .home-parent .slider-switch li {
  font-size: 18px;
  color: #999999;
  font-weight: 600;
  border-bottom: 2px solid #999999;
}
.home .home-parent .slider-switch li:first-child {
  color: #555;
  border-bottom-color: #555;
}

.products {
  margin-top: 40px;
}
.products .products-parent h3 {
  font-size: 30px;
  font-weight: 600;
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  color: #dbdbdb;
}
@media (max-width: 575.98px) {
  .products .products-parent h3 {
    font-size: 18px;
  }
}
.products .products-parent button {
  width: 140px;
  display: block;
  margin: 40px auto 0;
  background-color: #bdefd7;
  padding: 15px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -o-border-radius: 40px;
  -ms-border-radius: 40px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
}
.products .products-parent button:hover {
  background-color: #3E976C;
  color: #dbdbdb;
}
.products .products-parent .products-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 40px;
}
.products .products-parent .products-list div {
  text-align: center;
  background-color: #ccc;
  padding: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
}
.products .products-parent .products-list div img {
  width: 100%;
  box-shadow: 0 0 10px 5px #888;
}
.products .products-parent .products-list div h4 {
  cursor: pointer;
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}
.products .products-parent .products-list div h4:hover {
  color: #3E976C;
}
.products .products-parent .products-list div .price {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
}
.products .products-parent .products-list div div {
  margin-top: 10px;
  font-size: 14px;
  padding: 0;
  color: #f2b03d;
}

.categorys {
  margin-top: 40px;
}
.categorys .parent-category {
  display: flex;
  gap: 25px;
}
@media (max-width: 991px) {
  .categorys .parent-category {
    flex-direction: column;
  }
}
.categorys .parent-category .category {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  overflow: hidden;
  position: relative;
  width: 50%;
}
@media (max-width: 991px) {
  .categorys .parent-category .category {
    width: 100%;
  }
}
.categorys .parent-category .category .content {
  position: absolute;
  text-align: center;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
@media (max-width: 575.98px) {
  .categorys .parent-category .category .content {
    top: 20px;
  }
}
.categorys .parent-category .category .content span {
  font-size: 12px;
  font-weight: 600;
  color: #999999;
}
.categorys .parent-category .category .content h4 {
  font-size: 48px;
  font-weight: 300;
  color: #3D3D3D;
}
@media (max-width: 575.98px) {
  .categorys .parent-category .category .content h4 {
    font-size: 22px;
  }
}
.categorys .parent-category .category .image {
  position: relative;
  z-index: -2;
  width: 100%;
}
.categorys .parent-category .category .image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(51, 51, 51, 0.2);
}
.categorys .parent-category .category .image img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.last-news {
  margin-top: 40px;
}
.last-news .news-parent h3 {
  font-size: 30px;
  font-weight: 600;
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  color: #dbdbdb;
}
@media (max-width: 575.98px) {
  .last-news .news-parent h3 {
    font-size: 18px;
  }
}
.last-news .news-parent button {
  width: 160px;
  display: block;
  margin: 40px auto 0;
  background-color: #bdefd7;
  padding: 15px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -o-border-radius: 40px;
  -ms-border-radius: 40px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
}
.last-news .news-parent button:hover {
  background-color: #3E976C;
  color: #dbdbdb;
}
.last-news .news-parent .news-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 40px;
}
.last-news .news-parent .news-list .news {
  background-color: #ccc;
}
.last-news .news-parent .news-list .news img {
  display: block;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.last-news .news-parent .news-list .news .content {
  padding: 20px;
}
.last-news .news-parent .news-list .news .content h4:hover,
.last-news .news-parent .news-list .news .content span:first-of-type:hover {
  color: #3E976C;
}
.last-news .news-parent .news-list .news .content h4,
.last-news .news-parent .news-list .news .content p,
.last-news .news-parent .news-list .news .content span:last-of-type {
  margin-top: 15px;
}
.last-news .news-parent .news-list .news .content p,
.last-news .news-parent .news-list .news .content span {
  display: block;
  color: #777;
  font-weight: 500;
}
.last-news .news-parent .news-list .news .content span:first-of-type {
  font-size: 12px;
  cursor: pointer;
}
.last-news .news-parent .news-list .news .content h4 {
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  color: #3D3D3D;
  line-height: 24px;
}
.last-news .news-parent .news-list .news .content p {
  font-size: 14px;
  line-height: 26px;
}
.last-news .news-parent .news-list .news .content span:last-of-type {
  font-size: 14px;
}

footer {
  margin-top: 40px;
  background-color: #ccc;
}
footer .footer-parent {
  display: flex;
  gap: 20px;
  padding: 20px 0;
}
@media (max-width: 991px) {
  footer .footer-parent {
    flex-direction: column;
  }
}
footer .footer-parent h4 {
  font-size: 14px;
  font-weight: 600;
  color: #3D3D3D;
  margin-top: 15px;
}
footer .footer-parent ul li:first-child {
  margin-top: 35px;
}
footer .footer-parent ul li {
  cursor: pointer;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #777;
}
footer .footer-parent ul li:hover {
  color: #3E976C;
}
footer .footer-parent .about {
  width: 35%;
}
footer .footer-parent .about h1 {
  font-size: 36px;
  color: #3D3D3D;
}
footer .footer-parent .about p {
  font-size: 12px;
  line-height: 25px;
  color: #777;
  margin-top: 15px;
}
footer .footer-parent .about .media {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}
footer .footer-parent .about .media a i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  font-size: 14px;
  color: #777;
  background-color: #f2f2f2;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
}
footer .footer-parent .shop {
  width: 15%;
}
footer .footer-parent .help {
  width: 15%;
}
footer .footer-parent .news-letter {
  width: 35%;
}
footer .footer-parent .news-letter .sub {
  display: flex;
  align-items: center;
  margin-top: 35px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  overflow: hidden;
}
footer .footer-parent .news-letter .sub input,
footer .footer-parent .news-letter .sub button {
  font-size: 12px;
  font-weight: 600;
  padding: 10px;
  background-color: #f2f2f2;
}
footer .footer-parent .news-letter .sub input {
  width: 70%;
  color: #777;
}
footer .footer-parent .news-letter .sub button {
  width: 30%;
  color: #3E976C;
}
footer .footer-parent .news-letter p {
  font-size: 12px;
  line-height: 25px;
  color: #777;
  margin-top: 30px;
}
@media (max-width: 991px) {
  footer .footer-parent .about, footer .footer-parent .shop, footer .footer-parent .help, footer .footer-parent .news-letter {
    width: 100%;
    padding: 20px 0;
  }
  footer .footer-parent .about:not(.about), footer .footer-parent .shop:not(.about), footer .footer-parent .help:not(.about), footer .footer-parent .news-letter:not(.about) {
    border-top: 1px solid #555;
  }
}
footer .copy-right {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  border-top: 1px solid #555;
  padding: 20px 0;
  color: #777;
  font-size: 12px;
}
@media (max-width: 575.98px) {
  footer .copy-right {
    flex-direction: column;
  }
}
footer .copy-right ul li {
  display: inline-block;
}
footer .copy-right ul li:not(:last-child) {
  margin-right: 20px;
}
@media (max-width: 575.98px) {
  footer .copy-right ul li {
    display: block;
    margin-right: unset;
    margin-top: 20px;
  }
}

.app {
  position: relative;
}
.app .top {
  width: 45px;
  height: 45px;
  font-size: 22px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border: 1px solid;
  color: #555;
  background-color: #f2f2f2;
  position: absolute;
  bottom: 30px;
  right: 30px;
}/*# sourceMappingURL=index.css.map */